@model IEnumerable<ThongKe.Data.Models.account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.daily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chinhanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doimatkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydoimk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.khoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoitao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaytao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoicapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chinhanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doimatkhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaydoimk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoitao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaytao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoicapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaycapnhat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.username }) |
            @Html.ActionLink("Details", "Details", new { id=item.username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.username })
        </td>
    </tr>
}

</table>
